<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sumativa 1{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'app1:vista1_app1' %}">App 1 (v1) </a></li>
            <li><a href="{% url 'app1:vista2_app1' %}">App 1 (v2) </a></li>   
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2026 Sumativa 1</p>
    </footer>
</body>
</html>